<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Photos Album</title>
  <script>
    function getLabels(photoId, mediaId) {
      var xhr = new XMLHttpRequest();
      xhr.open('GET', '/identify?photoid=' + photoId, true);
      xhr.withCredentials = true;
      xhr.send(null);
      xhr.onload = function () {
        if (xhr.status != 200) { // analyze HTTP status of the response
          alert(`Error ${xhr.status}: ${xhr.statusText}`); // e.g. 404: Not Found
        } else { // show the result
          //alert(`Done, got ${xhr.response} bytes`); // response is the server response
          var node = document.getElementById('labels_' + mediaId);
          JSON.parse(xhr.response).forEach(label => {
            console.log(label.description)
            let li = document.createElement("li");
            li.textContent = label.description;
            node.appendChild(li);
          })
        }
      };
    }
  </script>
</head>

<body>
  <a href="./">Home</a>
  <a href="./getalbums">GET ALBUMS</a>
  <a href="./logout">Log Out</a>
  <h1>Welcome <%=username%>,</h1>
  <% mediaItems.mediaItems.forEach(function(mediaItem) { %>
    <li>
      <h3><a href="<%=mediaItem.productUrl%>">
          <%=mediaItem.id%>
        </a></h3>
      <p>
        <img src="<%=mediaItem.baseUrl%>=w300-h300" />
        <a href="./identify?photoid=<%=mediaItem.baseUrl%>">Identify</a>
        <button onclick="getLabels('<%=mediaItem.baseUrl%>', '<%=mediaItem.id%>')">getLabels</button>
      <ul id="labels_<%=mediaItem.id%>"></ul>
      </p>
    </li>
    <% })%>
</body>

</html>